#aaa {
  background-color: #000000;
  color: #ffffff;
  height: 45vh;
  overflow-y: scroll;
}

#aaa, #messages {
  transform: scale(1,-1);
}

.textCenter {
  text-align: center;
}

.woodBorder {
  border: 15px solid transparent;
  border-image: url(./assets/border.png) 15 round;
}

.floor {
  background-image: url(./assets/floor.png);
  background-size: 100% 100%;
}

.bg {
  background-image: url(./assets/bg.png);
  background-size: 100% 100%;
}

.counter {
  background-color: #B2E8FF;
}

.killedCircle{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.killedCircle > span {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.textboxSpacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling for call outs */
.intro {
  font-size: 20px;
}
.fairy {
  color: aqua;
}

.defense {
  font-weight: 500;
  font-size: 25px;
}

.damage {
  color: red;
}